* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: static;
  overflow: hidden;
  background-color: #31A36E;
  padding: 1px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 20px;
  border-radius: 20px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.titulo {
  margin-top: 15px;
  color: white;
}

.header a:hover {
  background-color: #E3C322;
  color: black;
}

.header-right {
  float: right;
}

.dropbtn, .header a.op {
  margin-top: 15px;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  line-height: 20px;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: right;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #E3C322;
  color: black;
}

.pie {
  position:fixed;
  bottom: 0;
  width:100%;
  padding: 1px;
  background-color: #31A36E;
  color: white;
  text-align: center;
}