div#contenido {
	width: 900px;
	margin: auto;
	background-color: #aaaaaa;
}

div#cabecera {
	background-color: #31A36E;
	color: white;
	height: 105px;
}

div#cabecera a, div#cabecera a:visited {
	font-weight: bold;
	text-decoration: none;
	background-color: #31A36E;
}

div#cabecera a:hover {
	color: #E3C322;
	font-weight: bold;
	text-decoration: underline;
}

div#sidebarIzq {
	padding: 10px;
	float: left;
	width: 170px;
	height: auto;
	background-color: #D6FED6;
}

div#sidebarIzq ul {
	background-color: #D6FED6;
}

div#sidebarIzq a:hover {
	color: #E3C322;
	text-decoration: underline;
}

div#sidebarDer {
	padding: 10px;
	float: right;
	width: 170px;
	height: auto;
	background-color: #D6FED6;
}

div#sidebarDer ul {
	background-color: #D6FED6;
}

div#contenido {
	padding: 10px;
	float: left;
	min-height: 600px;
	width: 900px;
	background-color: white;
}

div#pie {
	position:fixed;
  	bottom: 0;
  	width:98%;
	padding: 5px;
	background-color: #31A36E;
	color: white;
	text-align: center;
}

div.saludo {
	width: 100%;
	text-align: right;
}

div#logo{
	height: 25px;
}

fieldset {
	border: 1px solid black;
	width: auto;
	margin: 0 auto;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
}

label {
	width: 4em;
	text-align: right;
	margin-right: 0.5em;
	display: inline-block;
}
