@value --color-verdeFuerte from "./style.css";
@value --color-verdeFlojo from "./style.css";
@value --color-mostaza from "./style.css";
@value --color-beige from "./style.css";
@value --color-khaki from "./style.css";
@value --color-blanco from "./style.css";


#tablaIncidencias{
    font-family: Helvetica, Arial, SansSerif;
    color: --color-verdeFlojo;
    font-size: x-large;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

#cabeceraIncidencias{
    background: #DFDFDF;
    font-weight: bold;
}

#filaIncidencias{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#filaIncidencias:nth-child(even) #columna1{
    background-color: #91C499;
}#filaIncidencias:nth-child(even) #columna2{
    background-color: #91C499;
}

#columna1{
    background: #FAFAFA;
    text-align: center;
    width: 20%;
}

#columna2{
    background: #FAFAFA;
    text-align: center;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#columna2:hover #tooltip{
    z-index: 1;
    width: auto;
    background-color: white;
    color: black;
    visibility: visible;
    border-width: thick;
}

#tooltip{
    visibility: hidden;
    width: 1000px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-style: solid;
    border-color: #515151;
    box-shadow: 5px 5px #333333;
    padding: 5px 0;
    white-space: pre-wrap;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

