.cuadrados {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  text-align: center;
}

.cuadrado {
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: auto;
  margin-left: 50px;
  margin-right: 50px;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  border-style: solid;
  border-width: 6px;
  background-color: #94FEFA;
  border-color: var(--color-rojoFuerte);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.mainImage {
  border-radius: 15px;
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #515151;
}

.galeria {
  height: 1020px;
  width: 1846px;
  margin:1em auto;
  border: 1px solid #555;
  position: relative;
}

.galeria img {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-1 * var(--h) - 38em);
  left: 50em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}
