.cuadrados {
  width: 100%;
  height: 262px;
  margin-top: 50px;
  text-align: center;
}

.cuadrado {
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: auto;
  margin-left: 50px;
  margin-right: 50px;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border-style: solid;
  border-width: 6px;
  border-color: var(--color-verdeFuerte);
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.mainImage {
  border-radius: 15px;
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #515151;
}
