body {font-family: Arial, Helvetica, sans-serif;}

.imgcontainer {
  text-align: center;
}

img.avatar {
  width:20%;
}

.container {
  text-align: center;
  padding: 16px;
}

.flex-container{
  display:flex;
}

.registro{
  flex-basis: 40%;
  margin-left: 40px;
}

.imagen_registro{
  flex-basis:40%;
  margin-left:150px; 
  margin-top:100px; 
}

input.login {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input.control{
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.boton_login{
  text-align: center;
} 
.boton_registro{
  margin-left: 40px;
}

button {
  background-color: #31A36E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.registrate{
  text-align: center;
}

