body {
  width: 100%;
  margin-bottom: 20px;
}

.mssg {
  border: 2px solid #dedede;
  background-color: #91C499;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width:60%;
  overflow: auto;
}

.lighter {
  margin-left: 50%;
}

.darker {
  margin-right: 50%;
  border-color: #ccc;
  background-color: #ddd;
}

.mssg::after {
  content: "";
  clear: both;
  display: table;
}

.cabeza_msg {
  float:left;
  clear:both;
}

.hora_msg{
  float:right;
  font-size: 10px;
  clear:both;
}

.archivo_enviado, .mensaje_enviado {
  float:right;
  clear:both;
}
.archivo_recibido, .mensaje_recibido {
  float:left;
  clear:both;
}
