body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  float:left;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.dropbtn_sidebar) {
  background-color: #4CAF50;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.dropdown_sidebar{
  background-color: #4CAF50;
  display: block;
}

.dropdown-content_sidebar{
  display: none;
  position: fixed;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content_sidebar a{
  float: left;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content_sidebar a:hover {background-color: #f1f1f1;}

.dropdown_sidebar:hover .dropdown-content_sidebar {
  display: block;
}

.dropdown_sidebar:hover .dropbtn_sidebar {
  background-color: #E3C322;
  color: black;
}

.nombre_profe{
  background-color: #E3C322;
}