:root{
  --color-verdeFuerte: #31A36E; /*Verde del logo*/
  --color-verdeFlojo: #91C499;
  --color-mostaza: #E3C322; /*Amarillo del logo*/
  --color-beige: #EFD0CA;
  --color-khaki: #C1BCAC;
  --color-blanco: #FFFFFF;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-blanco);
  width: 100%;
  font-weight: bold;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  background-color: var(--color-verdeFuerte);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 2px solid black;
}

li a:hover {
  background-color: var(--color-verdeFlojo);
  color: white;
}

.logo {
  height: 100px;
  width: 100px;
}

.logoNav {
  float: left;
}

.active {
  background-color: var(--color-mostaza);
  color: black;
}

body {
  font-family: Arial;
}
