div#contenido {
	width: 900px;
	margin: auto;
	background-color: #aaaaaa;
}

div#sidebarIzq {
	padding: 10px;
	float: left;
	width: 170px;
	height: 400px;
	background-color: #D6FED6;
}

div#sidebarIzq ul {
	background-color: #D6FED6;
}

div#sidebarIzq a:hover {
	color: #E3C322;
	text-decoration: underline;
}

div#sidebarDer {
	padding: 10px;
	float: right;
	width: 170px;
	height: 400px;
	background-color: #D6FED6;
}

div#sidebarDer ul {
	background-color: #D6FED6;
}

div#contenido {
	padding: 10px;
	float: left;
	min-height: 100px;
	width: 900px;
	background-color: white;
}

div#pie {
	clear: both;
	padding: 20px;
	background-color: #31A36E;
	color: white;
	text-align: center;
}

div.saludo {
	width: 100%;
	text-align: right;
}

div#logo{
	height: 25px;
}

.cuadrados {
  width: 200%;
  height: 400px;
  margin-top: 80px;
  text-align: center;
  margin-left: -300px;
}
.cuadrados2 {
  width: 200%;
  height: 400px;
  margin-top: -5px;
  text-align: center;
  margin-left: -300px;
}
.cuadradoInfo{
position: relative;
  text-align: center;
  display: inline-block;
  overflow: auto;
  margin-left: 350px;
  margin-right: 50px;
  width: 550px;
  height: 450px;
  border-radius: 15px;
  border-style: solid;
  border-width: 6px;
  background-color: white;
  border-color: #31A36E  ;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.cuadrado {
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: auto;
  margin-left: 150px;
  margin-right: 50px;
  width: 200px;
  height: 250px;
  border-radius: 15px;
  border-style: solid;
  border-width: 6px;
  background-color: white;
  border-color: #31A36E;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #515151;
}

fieldset.edit {
	border: 1px solid black;
	width: 15em;
	margin: 0 auto;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
}

label {
	width: 4em;
	text-align: right;
	margin-right: 0.5em;
	display: inline-block;
}

button {
	margin-left: 100px;
}
